<ion-view title="Liste des lieux" class="list-places">
  <ion-nav-title>
    Liste des lieux
  </ion-nav-title>

  <!-- Striped Bar -->
  <div class="tabs-top tabs-primary transparent">
    <div class="tabs">
      <a class="tab-item">
        <i class="ion-calendar"></i>Côtes
      </a>
      <a class="tab-item">
        <i class="ion-calendar"></i>Villes
      </a>
      <a class="tab-item">
        <i class="ion-calendar"></i>Villages
      </a>
    </div>
  </div>
  <!-- END Striped Bar -->

  <ion-content class="has-tabs-top">
    Some super content here!
  </ion-content>
</ion-view>
