<ion-view title="Liste des lieux" class="list-places">
  <ion-nav-title>
    Liste des lieux
  </ion-nav-title>

  <!-- Striped Bar -->
  <div class="tabs-top tabs-primary transparent">
    <div class="tabs">
      <a class="tab-item">
        <i class="ion-calendar"></i>Côtes
      </a>
      <a class="tab-item">
        <i class="ion-calendar"></i>Villes
      </a>
      <a class="tab-item">
        <i class="ion-calendar"></i>Villages
      </a>
    </div>
  </div>
  <!-- END Striped Bar -->

  <ion-content class="has-tabs-top">
    <ion-list>
      <div class="list">
        <a class="item item-thumbnail-left force-space-bottom-5" href="#">
          <span class="img-item">
            <img src="../../img/jpg/img-test.jpg">
          </span>
          <h2 class="title primary-text">Bordeaux</h2>
          <h6 class="medium-grey-text">45.184293, -0.448869</h6>
        </a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
