// ~ TYPOGRAPHY
// ====================================================================== >

// TODO Added files typo Source Sans Pro
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  font-family: 'Source Sans Pro', sans-serif !important;
  color: $medium-grey;
}

// ===== TITLE

// === Title Style

.title {
  font-weight: bold !important;
}


// ===== TEXT

// === Text Color

.medium-grey-text { color: $medium-grey;}
.primary-text { color: $primary;}


