// ~ VARIABLES
// ====================================================================== >

// ~ ==== Define Colors

$primary :                                      #3b9ee8 !default;
$primary-dark :                                 #2288e6 !default;

$white :                                        #ffffff !default;
$white-grey :                                   #f8f8f8 !default;
$light-grey :                                   #e3e3e3 !default;
$medium-grey :                                  #93939b !default;
$dark-grey :                                    #46464b !default;

$red :                                          #d72c32 !default;
$green :                                        #c0d540 !default;
$green-dark :                                   #6FA71D !default;
$orange :                                       #f69b47 !default;
